# Core application configuration
DEBUG=false
PORT=80
LOG_FILE=""
# SERVER_NAME="localhost"

# Auth endpoint
AUTH="http://localhost:8082/auth/"

# # Client application (file path or url)
# CLIENT="http://localhost:3000"

# # Uploads
# UPLOAD_DIR = "./uploads/"

# Database
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="database"
DB_USER="user"
DB_PASSWORD="password"

# SSL
SSL_CERT=""
SSL_KEY=""

# # RSA
# RSA_PUBLIC_KEY="public.pem"
# RSA_PRIVATE_KEY="private.pem"

# # Redis
# REDIS_HOST="localhost"
# REDIS_PORT=6379
# REDIS_PASSWORD="password"
# REDIS_DB=0
# REDIS_EXP_SECONDS=3600

# Allow origins
ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000"
